* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

*:before,
*:after {
  content: "";
  content: none;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #fafafa;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header img {
  height: 2rem;
  cursor: pointer;
}

main {
  position: relative;
  width: 100%;
  height: 50%;
}

.background {
  background-image: url("../images/background.png");
  background-repeat: repeat-x;
  animation: slideright 6s infinite linear;
  -webkit-animation: loop__background 6s infinite linear;
  width: 100%;
  height: 200px;
}

h1 {
  font-size: 2rem;
}

header > * {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #525252;
  text-align: center;
}

.dino {
  position: absolute;
  bottom: 0;
  left: 0;
  animation-duration: 1s;
}

.cactus {
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  width: 60px;
  height: 101px;
  position: absolute;
  bottom: 0;
}

@keyframes loop__background {
  0% {
    background-position: 1000px 0;
  }

  50% {
    width: 500px 0;
  }

  100% {
    width: 0vw 0;
  }
}
